.Promoto {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(8, 8, 60), rgba(28, 28, 28, 0.802));
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: #b2adad;
  background-color: rgb(80, 80, 80);
  padding: 1em;
  min-height: 2em;
}

.postCardContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 12em;
  width: max-content;
}

.postCard {
  border-radius: 4px;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #b2adad;
  width: 60% max-content;
}

.postCardUsernameLikes {
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
}

.postCardImage {
  min-height: 40px;
}

.spotlight {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/855/629/176/music-concerts-wallpaper-preview.jpg);
  min-height: max-content;
  min-width: max-content;
}

.searchSongsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 12em;
  max-width: 50em;
  background-color: rgb(99, 99, 99);
}

.searchSongs {
  font-size: 80%;
}

.songCover {
  max-width: 280px;
}

.searchPostsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 12em;
  max-width: 50em;
  background-color: rgb(99, 99, 99);
}

.searchPostImage {
  max-width: 200px;
}

.Create {
  min-height: 100vh;
  color: white;
}